<template>
    <div class="">
    <% if (helpers) { %>
    <!--
        <MyComponent-1
            v-bind="dataObj"
            :propArray="{{dataArr}}"
            @click="clickMethod"
        ></MyComponent-1>

        <div
            v-for="(item, index) in items"
            :key="index"
        >
            <MyComponent2>{{item.name || item}} at position {{index}}</MyComponent2>
        </div>
    -->
    <% } %>
    </div>
</template>

<script>
    <%_ if (vuexMap) { _%>
    import { mapState, mapGetters, mapActions, mapMutations } from 'vuex'

    <%_ } _%>
    <% if (helpers) { %>
    // import MyComponent1 from '@/path/to/component'
    // import MyComponent2 from '@/path/to/component'
    <% } %>
    export default {
        name: '',

        props: {
            <% if (helpers) { %>
            /*
            prop: {
                type: [Boolean, String, Object, Array],
                required: <Boolean>,
                default: null
            }
            */
           <% } %>
        },

        mixins: [
            <% if (helpers) { %>
            // 'mixinName'
            <% } %>
        ],

        components: {
            <% if (helpers) { %>
            /*
            'MyComponent-1': MyComponent1,
            MyComponent2
            */
           <% } %>
        },

        data: () => ({
            <% if (helpers) { %>
            /*
            dataBoolean: <Boolean>
            dataString: '',
            dataObj: {},
            dataArr: []
            */
           <% } %>
        }),

        computed: {
            <%_ if (vuexMap) { _%>
            ...mapState({
                <% if (helpers) { %>
                // someStateProp: state => state.module.prop
                <% } %>
            }),

            ...mapGetters({
                <% if (helpers) { %>
                // stateGetter: 'stateGetterName'
                <% } %>
            })
            <%_ } _%>
            <% if (helpers) { %>
            /*
            computedProp1 () {
                return false
            },
            
            computedProp2: {
                get () { return true },
                set (val) { this.dataBoolean = val}
            },

            computedProp3: {
                return dataArg => {
                    return this.dataObj[dataArg]
                }
            }
            */
           <% } %>
        },
        
        <%_ if (lifecycleHooks) { _%>
        beforeCreated () {},
        created () {},
        beforeMount () {},
        mounted () {},
        beforeUpdated () {},
        updated () {},
        beforeDestroy () {},
        destroyed () {},
        
        <%_ } _%>
        methods: {
            <%_ if (vuexMap) { _%>
            ...mapActions({
                <% if (helpers) { %>
                // vuexAction: 'vuexActionName'
                <% } %>
            }),

            ...mapMutations({
                <% if (helpers) { %>
               // 
               <% } %>
            })
            
            <%_ } _%>
            <% if (helpers) { %>
            /*
            clickMethod () {
                // do something
            }
            */
           <% } %>
        },

        watch: {
            <% if (helpers) { %>
            /*
            prop: {
                deep: true,
                immediate: true,
                handler (newVal, oldVal) {
                    console.log(new, old)
                }
            }
            */
           <% } %>
        }
    }
</script>

<style lang="<%=cssLang%>" <%=scopedStyles ? 'scoped' : null%>>
    
</style>