<template>
    <div class="">
    <!--  -->
    </div>
</template>

<script>
    import { mapState, mapGetters, mapActions, mapMutations } from 'vuex'

    export default {
        name: '',

        props: {

        },

        mixins: [

        ],

        data: () => ({

        }),

        computed: {

        },

        beforeCreated () {},
        created () {},
        beforeMount () {},
        mounted () {},
        beforeUpdated () {},
        updated () {},
        beforeDestroy () {},
        destroyed () {},

        methods: {

        },

        watch: {

        }
    }
</script>

<style lang="" scoped>
    
</style>