<template>
    <div class="">
    <!--  -->
    </div>
</template>

<script>
    <%_ if (vuexMap) { _%>
    import { mapState, mapGetters, mapActions, mapMutations } from 'vuex'
    <%_ } _%>

    export default {
        name: '',

        props: {

        },

        mixins: [

        ],

        data: () => ({

        }),

        computed: {
            <%_ if (vuexMap) { _%>
            ...mapState({
                // 
            }),

            ...mapGetters({
                // 
            })
            <% } %>
        },
        
        <%_ if (lifecycleHooks) { _%>
        beforeCreated () {},
        created () {},
        beforeMount () {},
        mounted () {},
        beforeUpdated () {},
        updated () {},
        beforeDestroy () {},
        destroyed () {},
        <%_ } _%>
        methods: {
            <%_ if (vuexMap) { _%>
            ...mapActions({

            }),

            ...mapMutations({
                
            })
            <% } %>
        },

        watch: {

        }
    }
</script>

<style lang="<%=cssLang%>" <%=scopedStyles ? 'scoped' : null%>>

</style>